/*Variables de colores*/
/*Variables Background Sec2_2*/
.color--univo1 {
  color: #e81272; }

.color--univo2 {
  color: #2E0249; }

.color--univo3 {
  color: #16003B; }

* {
  margin: 0;
  border: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Raleway-SemiBold";
  src: url(/font/Raleway-SemiBold.ttf); }

@font-face {
  font-family: "Raleway-Medium";
  src: url(/font/Raleway-Medium.ttf); }

@font-face {
  font-family: "Raleway-Bold";
  src: url(/font/Raleway-Bold.ttf); }

@font-face {
  font-family: "Raleway-MediumItalic";
  src: url(//font/Raleway-MediumItalic.ttf); }

@font-face {
  font-family: "Raleway-Italic";
  src: url(//font/Raleway-Italic.ttf); }

@font-face {
  font-family: "Raleway-SemiBoldItalic";
  src: url(//font/Raleway-SemiBoldItalic.ttf); }

#sec1 {
  height: 100vh; }

#sec2 {
  height: 100vh;
  display: grid;
  grid-template-rows: 300px 1fr;
  grid-template-columns: auto;
  grid-template-areas: "divSec2_1" "divSec2_2"; }

#divSec2_1 {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-areas: ""; }

#divSec2_2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0rem 1rem 0rem 1rem; }

#sec3 {
  height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr 100px;
  grid-template-areas: "divSec3_1" "divSec3_2" "footerFather"; }

#footerFather {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ""; }

/*Variables de colores*/
/*Variables Background Sec2_2*/
.color--univo1 {
  color: #e81272; }

.color--univo2 {
  color: #2E0249; }

.color--univo3 {
  color: #16003B; }

/*Desarrollo del header principal*/
#headerFather {
  height: 100px;
  grid-area: headerFather;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  justify-content: space-between;
  position: sticky;
  top: 0; }

.headerIcon {
  display: flex;
  align-items: center;
  align-content: center; }

.headerNav {
  text-decoration: none;
  list-style: none;
  display: flex;
  padding-right: 4rem;
  align-items: center;
  align-content: center; }

.Icon {
  padding-left: 3rem;
  width: 250px; }

.nav_Link {
  color: white;
  padding: 0.80rem;
  font-size: 2rem;
  font-family: "Raleway-Bold";
  text-decoration: none;
  position: relative; }

/*Animacion de los ancore del header principal*/
.nav_Link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2E0249;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out; }

.nav_Link:hover::before {
  transform-origin: left;
  transform: scaleX(1); }

#siseLink {
  background-color: #e81272; }

/*Variables de colores*/
/*Variables Background Sec2_2*/
.color--univo1 {
  color: #e81272; }

.color--univo2 {
  color: #2E0249; }

.color--univo3 {
  color: #16003B; }

.border {
  border: 3px solid black; }

/*----------Desarrollo del Sec1--------*/
#sec1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Grad.png"); }

/*Texto de Sec1*/
.divSec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 9rem 20rem 6rem 20rem;
  overflow: hidden; }

.title_Sec1 {
  overflow: hidden;
  color: white;
  text-align: center;
  align-self: center;
  font-size: 4rem;
  font-family: "Raleway-Bold"; }

/*Button de Sec1*/
.buttonSec1 {
  padding-top: 2rem; }

.button, .button--Campus, .button--Online {
  font-family: "Raleway-Bold";
  font-size: 1rem;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #e81272;
  box-shadow: 0 5px #ff0a78; }

.button:hover, .button--Campus:hover, .button--Online:hover {
  box-shadow: 0 3px #ff0a78;
  top: 1px; }

.button:active, .button--Campus:active, .button--Online:active {
  box-shadow: 0 0 #ff0a78;
  top: 5px; }

/*-----------Desarrollo del Sec2_1-----------*/
#divSec2_1 {
  grid-area: divSec2_1; }

.path {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }

.titlePath {
  font-family: "Raleway-Bold";
  font-size: 5.5rem;
  text-align: center; }

.campus {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%; }

.contImgCampus {
  width: 250px; }

.imgCampus {
  width: 100%; }

.button--Campus:hover {
  box-shadow: 0 3px #ff0a78;
  top: 1px; }

.button--Campus:active {
  box-shadow: 0 0 #ff0a78;
  top: 5px; }

.online {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%; }

.contImgOnline {
  width: 250px; }

.imgOnline {
  width: 100%; }

.button--Online:hover {
  box-shadow: 0 3px #ff0a78;
  top: 1px; }

.button--Online:active {
  box-shadow: 0 0 #ff0a78;
  top: 5px; }

.contButton {
  padding-top: 25px; }

/*----------Desarrollo del Sec2_2-----------*/
#divSec2_2 {
  grid-area: divSec2_2; }

.divG, .divDER, .divCONT, .divCOM, .divAMB, .divEDU {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/Sec2-Img/Ing.png");
  background-size: cover;
  background-position: center; }

.divDER {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/Sec2-Img/Der.png"); }

.divCONT {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/Sec2-Img/Cont.png"); }

.divCOM {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/Sec2-Img/Com.png"); }

.divAMB {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/Sec2-Img/Amb.png"); }

.divEDU {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/Sec2-Img/Edu.png"); }

.a_Sec2 {
  overflow: hidden;
  color: white;
  text-align: center;
  align-self: center;
  font-size: 2rem;
  font-family: "Raleway-Bold";
  position: relative;
  text-decoration: none; }

.a_Sec2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2E0249;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out; }

.a_Sec2:hover::before {
  transform-origin: left;
  transform: scaleX(1); }

/*----------Desarrollo del Sec3_1-----------*/
#divSec3_1 {
  grid-area: divSec3_1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0rem 6rem 0rem 6rem; }

.divSec3_Title {
  border-top: 3px solid #e81272;
  font-family: "Raleway-Bold";
  font-size: 3rem;
  padding-bottom: 1rem; }

.divSec3_Text {
  font-family: "Raleway-Medium";
  font-size: 0.9rem;
  text-align: center;
  margin: 0 auto; }

.spanDivSec3_1 {
  font-weight: bold; }

/*----------Desarrollo del Sec3_2-----------*/
#divSec3_2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: divSec3_2;
  background-position: center;
  background-size: cover;
  min-height: 550px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Conf.png"); }

.Sec3_2Title {
  color: white;
  font-size: 4.5rem;
  font-family: "Raleway-Bold"; }

/*Variables de colores*/
/*Variables Background Sec2_2*/
.color--univo1 {
  color: #e81272; }

.color--univo2 {
  color: #2E0249; }

.color--univo3 {
  color: #16003B; }

#footerFather {
  grid-area: footerFather;
  background-color: #e81272; }

.footerInfo {
  display: flex;
  flex-wrap: wrap;
  align-content: center; }

.textFooter {
  font-family: "Raleway-Medium";
  font-size: 0.8rem;
  color: white;
  text-align: justify;
  overflow: hidden; }

.footerImg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center; }

.footerImg_Cont {
  width: 200px;
  display: flex;
  align-content: flex-end; }

.footerImg_Img {
  width: 100%; }
