@import "./var";
@import "./fonts";


#Pri{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/pexels-arthur-krijgsman-4936021.jpg");
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Pri:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}


#Sec{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/pexels-rodnae-productions-8500302.jpg"); 
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Sec:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#Bach{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/pexels-kobe-1516440.jpg");
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Bach:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#Uni{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/pexels-jopwell-2422294.jpg");
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Uni:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.secCamp__titles{
    align-self: center;
    padding-bottom: 5rem;
    font-family: "Raleway-Bold";
    font-size: 2.8rem;
    color: white;
    flex-wrap: wrap;
}

.secCamp2__div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.secCamp2__div h1{
    font-family: "Raleway-Bold";
    font-size: 2.5rem;
    text-align: center;
    color: $univoColor5;
    padding-top: 5rem;
}

.secCamp2__div p{
    font-family: "Raleway-Bold";
    font-size: 1.5rem;
    text-align: center;
    padding: 0rem 13rem 13rem 13rem;
}

.secCamp2__bck{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/pexels-pixabay-159775.jpg");
}

.secCamp2__bck2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/pexels-keira-burton-6147276.jpg");
}

.secCamp2__bck3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/pexels-pixabay-256455.jpg");
}