@import "./var";

#footerFather{
    grid-area: footerFather;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.footerInfo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.textFooter{
    @include font(0.8rem,"Raleway-Medium");
    color: white;
    text-align: justify;
    overflow: hidden;

}

.footerImg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.footerImg_Cont{
    width: 200px;
    display: flex;
    align-content: flex-end;

}

.footerImg_Img{
    width: 100%;
}