/*Desarrollo de Index*/
#sec1{
    height: 100vh;
}

#sec2{
    height: 100vh;
    display: grid;
    grid-template-rows: 300px 1fr;
    grid-template-columns: auto;
    grid-template-areas: "divSec2_1"
                         "divSec2_2";
}

#divSec2_1{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-areas: "";
}

#divSec2_2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 0rem 1rem 0rem 1rem;
}

#sec3{
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: "divSec3_1"
                         "divSec3_2"
                         "footerFather";
}


#footerFather{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*Desarrollo de Campus*/
#secCamp{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

#secCamp2{
    height: 100vh;
    display: grid;
    grid-template-rows: 300px 500px;
}

.secCamp2__div2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*Desarrollo de Nosotros*/

#secUs1{
    height: 100vh;

}

#secUs2{
    height: 100vh;
    display: grid;
    grid-template-rows: 400px 1fr;
    grid-template-areas: "secUs2__div1"
                         "secUs2__div2";
}

.secUs2__div2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 300px 1fr;
}

#secUs3{
    height: 100vh;
    display: grid;
    grid-template-rows: 450px 1fr ;
    grid-template-areas:  "secUs3__div1"
                          "secUs3__div2";
}

.secUs3__div1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "teachers alumns inst";
}

/*Desarrollo del contacto*/
#secCont{
    height: 100vh;
    display: grid;
    grid-template-rows: 300px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "secCont__sub secCont__form"
                         "secCont__maps secCont__form";
}


/*Desarrollo de Sise*/
#secSise{
    height: 100vh;
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-areas: "divSiseLeft divSiseRight" ;
}
