@import "./var";

/*Desarrollo del header principal*/
#headerFather{
    height: 100px;
    width: 100%;
    grid-area: headerFather;
    background-attachment: fixed;
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
}

.headerIcon{
    display: flex;
    align-items: center;
    align-content: center;
}

.headerNav{
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-right: 4rem;
    align-items: center;
    align-content: center;
}

.Icon{
    padding-left: 3rem;
    width: 250px;
}

.nav_Link{
    color: whitesmoke;
    padding: 0.80rem;
    font-size: 2rem;
    font-family: "Raleway-Bold";
    text-decoration: none;
    position: relative;
}


/*Animacion de los ancore del header principal*/
.nav_Link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $univoColor2;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.nav_Link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#siseLink{
    background-color: $univoColor1;
}