@media screen and (max-width: 380px){

    #headerFather{
        width: auto;
        flex-wrap: wrap;
    }

    #headerContacto{
        width: auto;
        flex-wrap: wrap;
    }

    .headerNavContacto{
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0rem;
    }

    .headerNav{
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0rem;

    }

    .IconContacto{
        padding-left: 0.3rem;
        width: 140px;
    }
    
    .Icon{
        padding-left: 0.3rem;
        width: 140px;
    }

    .nav_LinkContacto{
        flex-wrap: wrap;
        padding: 0rem;
        font-size: 0.8rem;
    }
    
    .nav_Link{
        flex-wrap: wrap;
        padding: 0rem;
        font-size: 0.8rem;
    }

    #siseLink{
        background-color: transparent;
    }




    #sec1{
        width: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Alumns3.png");
    }

    /*Texto de Sec1*/
    .divSec1{
        flex-wrap: wrap;
        padding: 12rem 12rem 6rem 12rem;
        overflow: hidden;
    }

    .title_Sec1{
        overflow: hidden;
        flex-wrap: wrap;
        font-size: 2rem;   
    }

    #sec2{
        display: none;
    }


    #Sec3{
        width: auto;
        display: grid;
        grid-template-rows: 200px 1fr;
        grid-template-areas: "divSec3_1"
                             "divSec3_2";
    }

    /*----------Desarrollo del Sec3_1-----------*/
    #divSec3_1{
        padding: 0rem 1.5rem 0rem 1.5rem;
        width: 100%;
    }

    .divSec3_Title{
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .divSec3_Text{
        font-size: 0.7rem;
    }
    
    /*----------Desarrollo del Sec3_2-----------*/
    
    #divSec3_2{
        width: auto;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover; 
    }
    
    .Sec3_2Title{
        color: white;
        font-size: 4.5rem;
        font-family: "Raleway-Bold";
    }

    #footerFather{
        display: none;
    }

    /*Campus*/
    #secCamp{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #secCamp2{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .secCamp2__div h1{
        font-size: 2rem;
        flex-wrap: wrap;
    }

    .secCamp2__div p{
        font-size: 0.9rem;
        height: auto;
        padding: 0rem 5rem 5rem 5rem;

    }

    /*Nosotros*/
    #secUs1{
        width: auto;
        background-attachment: fixed;
    }

    .title_Us{
        font-size: 4rem;
    }

    #secUs2{
        height: auto;
        display: grid;
        grid-template-rows: 450px;
        grid-template-areas: "secUs2__div1"
    }

    .secUs2__div1{
        padding: 1rem 0rem 0rem 0rem;
    }

    .secUs2_title{
        font-size: 2rem;
    }

    .secUs2__div2{
        display: none;
    }

    #secUs3{
        display: none;
    }

    /*Contacto*/

    #secCont{
        height: auto;
        grid-template-rows: 1fr;
        grid-template-areas: "secCont__form";
    }

    .secCont__sub{
        display: none;
    }

    .secCont__maps{
        display: none;
    }

    .secCont__form{
        padding: 0rem 0rem 0rem 2.5rem;
    }

    .secCont__form h1{
        padding-top: 8rem;
        font-size: 3rem;
    }

    #form-main{
        width:auto;
    }

    #form-main{
        width: 300px;
    }

    /*Sise*/

    #secSise{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "divSiseRight";
    }

    #divSiseRight{
        width: auto;
        height: auto;
        background-image: none;
    }

    #divSiseLeft{
        display: none;
        align-items: flex-end;
    }
    
    .loginBox{
        padding-top: 12rem;
        top: auto;
        left: auto; 
        height: auto;
        width: auto;
    }




}

/*----------------------------------------------------------*/
@media screen and (max-width: 760px){

    .headerNav{
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0rem;
    }

    .headerNavContacto{
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0rem;
    }

    .IconContacto{
        padding-left: 0.3rem;
        width: 140px;
    }

    .nav_LinkContacto{
        flex-wrap: wrap;
        padding: 0rem;
        font-size: 0.8rem;
    }
    
    .Icon{
        padding-left: 0.3rem;
        width: 140px;
    }
    
    .nav_Link{
        flex-wrap: wrap;
        padding: 0rem;
        font-size: 0.8rem;
    }

    #siseLink{
        background-color: transparent;
    }


    #sec1{
        width: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Alumns3.png");
    }

    /*Texto de Sec1*/
    .divSec1{
        flex-wrap: wrap;
        padding: 12rem 12rem 6rem 12rem;
        overflow: hidden;
    }

    .title_Sec1{
        overflow: hidden;
        flex-wrap: wrap;
        font-size: 2.5rem;   
    }

    #sec2{
        display: none;
    }


    #Sec3{
        width: auto;
        display: grid;
        grid-template-rows: 200px 1fr;
        grid-template-areas: "divSec3_1"
                             "divSec3_2";
    }

    /*----------Desarrollo del Sec3_1-----------*/
    #divSec3_1{
        padding: 0rem 1.5rem 0rem 1.5rem;
    }

    .divSec3_Title{
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .divSec3_Text{
        font-size: 0.7rem;
    }
    
    /*----------Desarrollo del Sec3_2-----------*/
    
    #divSec3_2{
        width: auto;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover; 
    }
    
    .Sec3_2Title{
        color: white;
        font-size: 4.5rem;
        font-family: "Raleway-Bold";
    }

    #footerFather{
        display: none;
    }

    /*Campus*/
    #secCamp{
        grid-template-columns: repeat(auto-fit, minmax(760px, 1fr));
    }
    
    #secCamp2{
        grid-template-columns: repeat(auto-fit, minmax(760px, 1fr));
    }
    
    .secCamp2__div h1{
        font-size: 2rem;
        flex-wrap: wrap;
    }
    
    .secCamp2__div p{
        font-size: 0.9rem;
        height: auto;
        padding: 0rem 5rem 5rem 5rem;
    
    }

    /*Nosotros*/

    #secUs1{
        width: auto;
        background-attachment: fixed;
    }

    .title_Us{
        font-size: 4rem;
    }

    #secUs2{
        height: auto;
        display: grid;
        grid-template-rows: 450px;
        grid-template-areas: "secUs2__div1"
    }

    .secUs2__div1{
        padding: 1rem 0rem 0rem 0rem;
    }

    .secUs2_title{
        font-size: 2rem;
    }

    .secUs2__div2{
        display: none;
    }

    #secUs3{
        display: none;
    }

    /*Contacto*/

    #secCont{
        height: auto;
        grid-template-rows: 1fr;
        grid-template-areas: "secCont__form";
    }
    
    .secCont__sub{
        display: none;
    }
    
    .secCont__maps{
        display: none;
    }
    
    .secCont__form{
        padding: 0rem 0rem 0rem 9.5rem;
    }
    
    .secCont__form h1{
        padding-top: 8rem;
        font-size: 3rem;
    }
    
    #form-main{
        width:auto;
    }
    
    #form-main{
         width: 100%;
    }

    /*Sise*/

    #secSise{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "divSiseRight";
    }

    #divSiseRight{
        width: auto;
        height: auto;
        background-image: none;
    }

    #divSiseLeft{
        display: none;
        align-items: flex-end;
    }
    
    .loginBox{
        padding-top: 12rem;
        top: auto;
        left: auto; 
        height: auto;
        width: auto;
    }



    
    
    
}

/*-----------------------------------------------------------*/
@media screen and(max-width: 1100px){

    .headerNav{
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0rem;

    }

    .headerNavContacto{
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0rem;
    }

    .IconContacto{
        padding-left: 0.3rem;
        width: 140px;
    }

    .nav_LinkContacto{
        flex-wrap: wrap;
        padding: 0rem;
        font-size: 0.8rem;
    }
    
    .Icon{
        padding-left: 0.3rem;
        width: 140px;
    }
    
    .nav_Link{
        flex-wrap: wrap;
        padding: 0rem;
        font-size: 0.8rem;
    }

    #siseLink{
        background-color: transparent;
    }


    #sec1{
        width: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Alumns3.png");
    }

    /*Texto de Sec1*/
    .divSec1{
        flex-wrap: wrap;
        padding: 12rem 12rem 6rem 12rem;
        overflow: hidden;
    }

    .title_Sec1{
        overflow: hidden;
        flex-wrap: wrap;
        font-size: 3rem;   
    }

    #sec2{
        display: none;
    }


    #Sec3{
        width: auto;
        display: grid;
        grid-template-rows: 200px 1fr;
        grid-template-areas: "divSec3_1"
                             "divSec3_2";
    }

    /*----------Desarrollo del Sec3_1-----------*/
    #divSec3_1{
        padding: 0rem 1.5rem 0rem 1.5rem;
    }

    .divSec3_Title{
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .divSec3_Text{
        font-size: 0.7rem;
    }
    
    /*----------Desarrollo del Sec3_2-----------*/
    
    #divSec3_2{
        width: auto;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover; 
    }
    
    .Sec3_2Title{
        color: white;
        font-size: 4.5rem;
        font-family: "Raleway-Bold";
    }

    #footerFather{
        display: none;
    }

    /*Campus*/

        
    .secCamp2__div h1{
    font-size: 2rem;
    flex-wrap: wrap;
    }
        
    .secCamp2__div p{
        font-size: 0.9rem;
        height: auto;
        padding: 0rem 5rem 5rem 5rem;
        
    }

    /*Nosotros*/

     #secUs1{
        width: auto;
        background-attachment: fixed;
    }
    
    .title_Us{
        font-size: 4rem;
    }
    
    #secUs2{
        height: auto;
        display: grid;
        grid-template-rows: 450px 1fr;
        grid-template-areas: "secUs2__div1"
                             "secUs2__div2";
    }
    
    .secUs2__div1{
        padding: 1rem 2rem 0rem 2rem;
    }
    
    .secUs2_title{
        font-size: 2rem;
    }
    
    #secUs3{
        display: none;
    }

    /*Sise*/

    #secSise{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "divSiseRight";
    }

    #divSiseRight{
        width: auto;
        height: auto;
        background-image: none;
    }

    #divSiseLeft{
        display: none;
        align-items: flex-end;
    }
    
    .loginBox{
        padding-top: 12rem;
        top: auto;
        left: auto; 
        height: auto;
        width: auto;
    }

    
    
}

